#the_bay{
  display: none;
}
#marin{
  display: none;
}
body{
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: Monaco, Consolas, "Lucida Console", monospace;*/
  /*font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;*/
  /*font-family: Verdana, Geneva, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  background-image: url('../images/background.png');
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {

}

a{

}

span{

}

ul{

}

li{

}

div{

}


.header{
  border-radius: 5px;
  background-color: #2c3e50;
  margin: 20px;
  padding: 10px;
  opacity:0.6;
  color: white;
  border-radius: 5px;
  border-color: #fff;
  box-shadow: 4px 4px #ecf0f1;
}
.title {
  margin-left: 30px;
}

button{
  background-color: #7f8c8d;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border-color: #fff;
  box-shadow: 2px 2px #34495e;
  font-size: 18px;
  display:inline-block;
}

.instructions {
  margin-left: 30px;
  display:inline-block;
}
#hint {
  width: 100px;
  margin-top: 30px;
  margin-left: 160px;
  display:inline-block;
}
.question {
  display:inline-block;
}

.box{
  margin: 50px 0 50px 0;
  background-color: white;
  border-radius: 5px;
  border-color: #fff;
  box-shadow: 4px 4px #95a5a6;
  padding: 20px;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.row {

}


div.navbar{
}

.logo{
  float: right;
  height: 75px;
  width: 75px;
}

.logo-text{
  display:inline-block;
  font-size: 50px;
  float: right;
}

div.instruction{

}
div.terminal{

}

div.hints{

}
div.directory{

}
div.footer{

}

/* Tooltip */

.tooltip {
  display: inherit;
  position: relative;
}
.tooltip:before, .tooltip:after {
  display: none;
  position: absolute;
}
.tooltip:hover:before, .tooltip:hover:after {
  display: block;
}
.tooltip:before {
  background: #95a5a6;
  border-radius: 4px;
  color: #fff;
  content: attr(data-tooltip-content);
  padding: 6px;
  text-decoration: none;
  white-space: nowrap;
  left: 0;
  margin-top: 6px;
  top: 100%;
}
.tooltip:after {
  border: 6px solid transparent;
  content: '';
  height: 0;
  width: 0;
  border-bottom-color: #95a5a6;
  border-top: none;
  left: 10px;
  top: 103%;
}

.levels{
  display: inline-block;
}

/* Custom Fontawesome */
.fa-check-circle{
  color:#16a085;
}

.fa-file-code-o{
  color: #e74c3c;
}

/* Responsive Grid */

/* Large screens (1024px) */
.column {
  float: left;
  /*padding-left: 5px;*/
}

.column.full { width: 1280px; }
.column.two-thirds { width: 830px; }
.column.half { width: 640px; }
.column.third { width: 426.25px; }
.column.fourth { width: 320px; }
/*.column.fifth { width: 205px; }*/
.column.fifth {
  width: 140px;
  height: 100%;
  border-left: thin solid #bdc3c7;
}
.column.flow-opposite { float: right; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

