.states, 
.cities, 
.places,
#divider3,
#divider4,
#divider5,
#marin,
#the_bay{
  display: none;
}

.pointer {
  /*display: inline-block;*/
  /*text-align: right;*/
  float: right;
  margin-top: 5px;
  margin-right: 3px;
  font-size: 10px;
  color: #95a5a6;
}
  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li ul {
  font-size: 13px;
}
ul li ul li {
  padding: 0 0 3px 15px;
}

.little{
  height: 25px;
  width: 25px;
}

i {
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  background: url("http://i.imgur.com/YO1WL.png") no-repeat;
}


#finder {
  float: left;
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  display: block;
  background-color: #ededed;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(0, 0, 0, 0.1) 1px -1px, rgba(0, 0, 0, 0.1) -1px 1px, rgba(0, 0, 0, 0.8) 0 0 70px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(0, 0, 0, 0.1) 1px -1px, rgba(0, 0, 0, 0.1) -1px 1px, rgba(0, 0, 0, 0.8) 0 0 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(0, 0, 0, 0.1) 1px -1px, rgba(0, 0, 0, 0.1) -1px 1px, rgba(0, 0, 0, 0.8) 0 0 70px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 441px;
  width: 800px;
  /*margin: 0 auto;*/
  margin: 30px 0 30px 0;
}
#finder *::before,
#finder *::after {
  content: "";
  position: absolute;
  display: block;
}

#toolbar {
  position: relative;
  display: block;
  border-bottom: solid 1px #686868;
  background: -moz-linear-gradient(#e4e4e4, #b8b7b8);
  background: -webkit-linear-gradient(#e4e4e4, #b8b7b8);
  background: linear-gradient(#e4e4e4, #b8b7b8);
  -moz-box-shadow: #f1f1f1 0 1px inset;
  -webkit-box-shadow: #f1f1f1 0 1px inset;
  box-shadow: #f1f1f1 0 1px inset;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 0 0;
}

#traffic-light {
  position: absolute;
  display: inline;
  left: 4px;
}
#traffic-light #red,
#traffic-light #yellow,
#traffic-light #green {
  width: 12px;
  height: 12px;
  display: block;
  margin: 5px 4px 4px 4px;
  background: black;
  float: left;
  position: relative;
  background-image: -moz-radial-gradient(6px 18px, rgba(255, 255, 255, 0.7) 2px, rgba(255, 255, 255, 0) 5px), -moz-radial-gradient(6px -1px, #ffffff 1px, rgba(255, 255, 255, 0) 3px);
  background-image: -webkit-radial-gradient(6px 18px, rgba(255, 255, 255, 0.7) 2px, rgba(255, 255, 255, 0) 5px), -webkit-radial-gradient(6px -1px, #ffffff 1px, rgba(255, 255, 255, 0) 3px);
  background-image: radial-gradient(6px 18px, rgba(255, 255, 255, 0.7) 2px, rgba(255, 255, 255, 0) 5px), radial-gradient(6px -1px, #ffffff 1px, rgba(255, 255, 255, 0) 3px);
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 1px 4px inset, rgba(255, 255, 255, 0.5) 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 1px 4px inset, rgba(255, 255, 255, 0.5) 0 1px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 1px 4px inset, rgba(255, 255, 255, 0.5) 0 1px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
#traffic-light #red {
  background-color: #f24443;
}
#traffic-light #yellow {
  background-color: #f0aa5a;
}
#traffic-light #green {
  background-color: #88be72;
}
#traffic-light:hover #red::after,
#traffic-light:hover #yellow::after,
#traffic-light:hover #green::after {
  position: absolute;
  top: -2px;
  left: 2px;
  font-weight: bold;
  font-size: 13px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px;
}
#traffic-light:hover #red::after {
  content: "x";
  color: rgba(186, 23, 32, 0.5);
}
#traffic-light:hover #yellow::after {
  content: "-";
  color: rgba(167, 99, 34, 0.5);
}
#traffic-light:hover #green::after {
  left: 1px;
  content: "+";
  color: rgba(70, 144, 46, 0.5);
}

#windowname {
  text-align: center;
  font-size: 13px;
  line-height: 23px;
}
#windowname i {
  background: url("http://i.imgur.com/hhy5Y.png") no-repeat;
}

#actions {
  height: 31px;
}
#actions input {
  width: 278px;
  height: 17px;
  margin-right: 8px;
  float: right;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

#back,
#next,
#iconV,
#list,
#grid,
#coverflow {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 38px;
  margin-top: 1px;
  border: 1px solid #767676;
  background-image: -moz-linear-gradient(#e8e8e8, #bcbcbc);
  background-image: -webkit-linear-gradient(#e8e8e8, #bcbcbc);
  background-image: linear-gradient(#e8e8e8, #bcbcbc);
  -moz-box-shadow: #f1f1f1 0px 1px inset, #cccccc 0px 1px;
  -webkit-box-shadow: #f1f1f1 0px 1px inset, #cccccc 0px 1px;
  box-shadow: #f1f1f1 0px 1px inset, #cccccc 0px 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#back,
#next {
  width: 25px;
}

#back {
  margin-left: 8px;
  margin-right: 0;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
  color: #797979;
}
#back::after {
  content: "\25C4";
  top: 1px;
  left: 9px;
  font-size: 13px;
}

#next {
  left: -4px;
  border-left: 0px solid #767676;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  color: #a4a4a4;
}
#next::after {
  content: "\25C4";
  top: 4px;
  left: 8px;
  font-size: 13px;
  text-shadow: 0px -1px -1px white;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#iconV,
#list,
#grid,
#coverflow {
  width: 28px;
  border-left: 0px;
  border-right: 0px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: #e7e7e7 0px 1px inset, #e5e5e5 0px 2px inset, #bdbdbd 0px -1px inset, #bfbfbf 0px -2px inset, #a7a7a7 -1px 0px inset;
  -webkit-box-shadow: #e7e7e7 0px 1px inset, #e5e5e5 0px 2px inset, #bdbdbd 0px -1px inset, #bfbfbf 0px -2px inset, #a7a7a7 -1px 0px inset;
  box-shadow: #e7e7e7 0px 1px inset, #e5e5e5 0px 2px inset, #bdbdbd 0px -1px inset, #bfbfbf 0px -2px inset, #a7a7a7 -1px 0px inset;
}

#iconV {
  font-size: 13px;
  color: #fcfcfc;
  margin-left: 69px;
  border-left: 1px solid #767676;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
  background-image: -moz-linear-gradient(#767676, #9a9a9a);
  background-image: -webkit-linear-gradient(#767676, #9a9a9a);
  background-image: linear-gradient(#767676, #9a9a9a);
  -moz-box-shadow: #676767 -1px 1px 4px -1px inset, #676767 0px 1px inset, #757575 0px 2px inset, #999999 0px -1px inset, #969696 0px -2px inset;
  -webkit-box-shadow: #676767 -1px 1px 4px -1px inset, #676767 0px 1px inset, #757575 0px 2px inset, #999999 0px -1px inset, #969696 0px -2px inset;
  box-shadow: #676767 -1px 1px 4px -1px inset, #676767 0px 1px inset, #757575 0px 2px inset, #999999 0px -1px inset, #969696 0px -2px inset;
  text-shadow: 0px 1px 1px #545454;
}
#iconV::before {
  content: "\25AB \25AB";
  top: -2px;
  left: 8px;
}
#iconV::after {
  content: "\25AB \25AB";
  top: 4px;
  left: 8px;
}

#list {
  left: -3px;
  font-size: 15px;
}
#list::after {
  content: "\1D306";
  left: 8px;
}

#grid {
  left: -7px;
}
#grid::before {
  top: 5px;
  left: 7px;
  width: 11px;
  height: 8px;
  border: 1px solid;
  border-top-color: #1b1b1b;
  border-bottom-color: #232323;
  border-left: #4a4a4a 1px solid;
  border-right: #4a4a4a 1px solid;
  -moz-box-shadow: white 0px 1px;
  -webkit-box-shadow: white 0px 1px;
  box-shadow: white 0px 1px;
}
#grid::after {
  content: "";
  top: 6px;
  left: 11px;
  width: 3px;
  height: 9px;
  border-left: #4a4a4a 1px solid;
  border-right: #4a4a4a 1px solid;
}

#coverflow {
  left: -11px;
  border-right: 1px solid #767676;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  -moz-box-shadow: #e7e7e7 0px 1px inset, #e5e5e5 0px 2px inset, #bdbdbd 0px -1px inset, #bfbfbf 0px -2px inset;
  -webkit-box-shadow: #e7e7e7 0px 1px inset, #e5e5e5 0px 2px inset, #bdbdbd 0px -1px inset, #bfbfbf 0px -2px inset;
  box-shadow: #e7e7e7 0px 1px inset, #e5e5e5 0px 2px inset, #bdbdbd 0px -1px inset, #bfbfbf 0px -2px inset;
}
#coverflow::before {
  content: "";
  top: 5px;
  left: 5px;
  width: 13px;
  height: 10px;
  border-left: #4a4a4a 1px solid;
  border-right: #4a4a4a 1px solid;
}
#coverflow::after {
  content: "";
  top: 6px;
  left: 7px;
  width: 9px;
  height: 8px;
  border-left: #4a4a4a 1px solid;
  border-right: #4a4a4a 1px solid;
}
#coverflow i.view {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 5px;
  height: 6px;
  border: 1px solid;
  border-top-color: #1b1b1b;
  border-bottom-color: #232323;
  border-left: #4a4a4a 1px solid;
  border-right: #4a4a4a 1px solid;
  -moz-box-shadow: white 0px 1px;
  -webkit-box-shadow: white 0px 1px;
  box-shadow: white 0px 1px;
  background-image: -moz-linear-gradient(#6c6c6c, #868686);
  background-image: -webkit-linear-gradient(#6c6c6c, #868686);
  background-image: linear-gradient(#6c6c6c, #868686);
}
#coverflow i.view::after {
  content: "";
}

#settings,
#share {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 38px;
  margin-top: 1px;
  border: 1px solid #767676;
  background-image: -moz-linear-gradient(#e8e8e8, #bcbcbc);
  background-image: -webkit-linear-gradient(#e8e8e8, #bcbcbc);
  background-image: linear-gradient(#e8e8e8, #bcbcbc);
  -moz-box-shadow: #f1f1f1 0px 1px inset, #cccccc 0px 1px;
  -webkit-box-shadow: #f1f1f1 0px 1px inset, #cccccc 0px 1px;
  box-shadow: #f1f1f1 0px 1px inset, #cccccc 0px 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#settings {
  left: -9px;
  color: #4a4a4a;
}
#settings::before {
  content: "\2699";
  top: -4px;
  left: 7px;
  font-size: 22px;
}
#settings::after {
  content: "\25B4";
  top: 2px;
  right: 4px;
  font-size: 17px;
  text-shadow: 0px -1px -1px white;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#share {
  left: -5px;
  color: #a1a1a1;
}
#share::before {
  content: "";
  top: 5px;
  left: 12px;
  display: block;
  width: 10px;
  height: 7px;
  border: 2px solid;
  border-top-color: #9a9a9a;
  border-left-color: darkgray;
  border-right-color: darkgray;
  border-bottom-color: darkgray;
  -moz-box-shadow: white 0px 1px;
  -webkit-box-shadow: white 0px 1px;
  box-shadow: white 0px 1px;
}
#share::after {
  content: "\27A6";
  top: -1px;
  left: 16px;
  font-size: 14px;
  text-shadow: 0px 1px 1px white, -1px -1px #e9e9e9, 1px 1px #e9e9e9;
}

#view {
  width: 770px;
  height: 383px;
}

#sidebar {
  width: 133px;
  height: 380px;
  background-color: #e7ebf0;
  -moz-box-shadow: -1px 0 #b8b8b8 inset;
  -webkit-box-shadow: -1px 0 #b8b8b8 inset;
  box-shadow: -1px 0 #b8b8b8 inset;
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 6px;
  float: left;
}

.group {
  text-transform: uppercase;
  color: #707e8b;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 25px;
  padding: 5px;
}

#content {
  display: block;
  height: 380px;
  width: 800px;
  padding-left: 10px;
  background-color: white;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 0;
  /*float: left;*/
}

.folder-text {
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}
/* custom starts */
.folder-icon{
  margin-left: 12px;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.directory{
  margin-left: 20px;
}


/* custom ends */
/* sidebar icons */
.afiles {
  background-position: -3px -4px;
}

.airdrop {
  background-position: -3px -29px;
}

.apps {
  background-position: -3px -53px;
}

.desk {
  background-position: -3px -76px;
}

.docs {
  background-position: -3px -100px;
}

.downs {
  background-position: -3px -125px;
}

.mov {
  background-position: -3px -148px;
}

.music {
  background-position: -3px -172px;
}

.pic {
  background-position: -3px -195px;
}

/* sidebar selection */
.current_page {
  color: #f3ffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  background: -moz-linear-gradient(#67b1df, #3489cc);
  background: -webkit-linear-gradient(#67b1df, #3489cc);
  background: linear-gradient(#67b1df, #3489cc);
  -moz-box-shadow: #5aa5da 0 1px inset, #6fbae5 0 2px inset, #307cbc 0 -1px inset;
  -webkit-box-shadow: #5aa5da 0 1px inset, #6fbae5 0 2px inset, #307cbc 0 -1px inset;
  box-shadow: #5aa5da 0 1px inset, #6fbae5 0 2px inset, #307cbc 0 -1px inset;
}
.current_page .afiles {
  background: url("http://i.imgur.com/wBIjH.png") no-repeat;
}
